*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
html,
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #efefef;
    flex-wrap: wrap;
    background-image: url("https://i.ytimg.com/vi/5UmnKlhx_Go/maxresdefault.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}
.large
{
	font-size: 1.25rem;
}
.btn
{
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}
/*------------------------------------------NAVEGADOR -----------------------------------------------------*/
header {
    width: 10%;
    height: 100vh;
    box-shadow: 1px 1px 5px #000;
    display:grid;
    position: fixed;
    width: 100%;
    
}
.nav{
    background: #0b6f72;
	overflow: auto;
    height: 80px;
    color: white;
    
}
.nav_container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav_label, .nav_input{
    display: none;
}
.nav_item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.nav_item::after{
    content:"";
    display: block;
    background:#fff;
    width: 90%;
    height: 3px;;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.nav_item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav_input:checked + .nav_menu{
    background:   #0b6f7288;
    height: 300px;
}
.nav_label{
    display: block;
    cursor: pointer;
}
.nav_menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background: rgba(5, 89, 92, 0.5);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path .5s ease-in-out;
    height: 300px;
}
.nav_input:checked + .nav_menu{
    clip-path: circle(100% at center);
}

.cards{
    position: relative;
    top: 400px;
    display: flex;
}
.cuerpo{
    position: relative;
    top: 400px;
}
/*------------------------------------------TARJETAS -----------------------------------------------------*/

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0b6f72;
    bottom: 0;
}

.card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 25px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card .description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #05383a;
}

.card .description h4 {
    color: #1c5a5c;
}

.card .description p {
    margin-top: 20px;
    font-size: 15px;
}


.card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    text-decoration: none;
    color: #fff;
    background: #157579;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
}

.card .contact a:hover {
    
    background: #0b6164;
   
}

/*------------------------------------------ CUERPO -----------------------------------------------------*/
#portafolio
{
	padding: 80px 0;
}
.portafolio-cuerpo
{
	display: flex;
	padding: 150px 0;
}
.portafolio-cuerpo-titulo p.large
{
	padding-bottom: 15px;
}

.portafolio-cuerpo .h1
{
	font-size: 2.5rem;
}
.portafolio-cuerpo .h2
{
	font-size: 2rem;
	font-weight: 500;
}
.portafolio-cuerpo .h4
{
	font-size: 1.5rem;
}
.portafolio-cuerpo .p
{
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7rem;
	font-weight: 300;
}
.portafolio-cuerpo .c
{
	text-decoration: none;
}
.portafolio-cuerpo-imagen img
{
	width: 75%;
	border-radius: 30%;
}
/* PORTFOLIO*/
#portfolio
{
	padding: 80px 0;
	text-align: center;
}
#portfolio p
{
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}
.portfolio-cuerpo
{
	display: flex;
}
.portfolio-cuerpo img
{
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}
/*sobre-mi*/
#sobre-mi
{
	padding: 80px 0;
	text-align: center;
}
#sobre-mi h2
{
	padding-bottom: 50px;
}
#sobre-mi p
{
	padding-bottom: 20px;
}
/*contacto*/
#contacto
{
	padding: 80px 0;
}
#contacto h2
{
	text-align: center;
}
#contacto p
{
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}
.contacto-cuerpo
{
	display: flex;
	padding: 20px;
}
.contacto-cuerpo-imagen
{
	width: 50%;
}
.contacto-cuerpo-imagen img
{
	width: 90%;
	padding: 120px;
}
.contacto-cuerpo-formulario
{
	width: 50%;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	padding: 70px;
}
.contacto-cuerpo-formulario h4
{
	padding-bottom: 40px;
	text-align: center;
}
.contacto-cuerpo-formulario button
{
	width: 100%;
}
.txt-naranja
{
	color: #1c5a5c;
}
.display-1
{
	font-size: 4rem;
}
.btn-round
{
	border-radius: 20px;
}
.btn-dark
{
	background: #1c5a5c;
	border: 1px solid #1c5a5c;
	color: #fff;
}
.btn-dark:hover
{
	background: #144143;
	color: #fff;
}
form label
{
	display: inline-block;
	margin-bottom: 6px;
}
form .formulario-grupo
{
	margin-bottom: 16px;
}
form .formulario-control
{
	display: block;
	width: 100%;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background: #fff;
	border: 1px solid #ced4da;
	border-radius: 4px;
}
/*------------------------------------------  PIE DE PAGINA -----------------------------------------------------*/

